

#loadingScreen {
    margin: auto;
    margin-top: 20%;
    text-align: center;
    font-size: 16vw;
}

#values {
    text-align: center;
}

#example2 {
    margin-left: 10%;
}

.ui-header .ui-title {
    margin-right: 0px;
    margin-left: 0px;
    font-family: "Helvetica Neue";
    color: white;
    text-shadow: none;
    background-color: #00aced;
}

body {
    font-family: " Source Sans Pro, sans-serif";


}

 *{
    font-family: " Source Sans Pro, sans-serif";
}