

#loadingScreen {
    margin: auto;
    margin-top: 20%;
    text-align: center;
    font-size: 16vw;
}

#values {
    text-align: center;
}

#example2 {
    margin-left: 10%;
}

.ui-header .ui-title {
    margin-right: 0px;
    margin-left: 0px;
    font-family: "Helvetica Neue";
    color: white;
    text-shadow: none;
    background-color: #00aced;
}

body {
    font-family: "Helvetica Neue";


}

 *{
    font-family: "Helvetica Neue";
}

 #xx {
     margin-right: 4%;
     margin-left: 4%;
 }

#back1 {
    background-color: white;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.99);
}

#back2 {
    background-color: white;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.99);
}
