

#loadingScreen {
    margin: auto;
    margin-top: 20%;
    text-align: center;
    font-size: 16vw;
}

#values {
    text-align: center;
}

#example2 {
    margin-left: 10%;
}

.ui-header .ui-title {
    margin-right: 0px;
    margin-left: 0px;
    font-family: " Source Sans Pro, sans-serif";
}

body {
    font-family: " Source Sans Pro, sans-serif";


}

 *{
    font-family: " Source Sans Pro, sans-serif";
}

{
    font-family: " Source Sans Pro, sans-serif"
}